<div id="invoice-detail">
  <div class="detail-container">
    <div class="ui purple header">
      <i class="file alternate icon"></i>
      <div class="content">
        Wasteview
        <div class="sub header">0892759020895</div>
      </div>
    </div>
  
  </div>



</div>