<div class="ui top fixed purple inverted menu">
  <a class="header item">
    PJ Monster
  </a>
      
  <div class="item">
    <%= link_to "Projects", projects_path %>
  </div>

  <div class="right menu">
    <div class="item">
      <i class="bell icon"></i>
    </div>
    <div class="item">
      <i class="cog icon"></i>
    </div>
  </div>
  
</div>